/************** Padding **************/
$sbx-padding-default-sm-value          : .75rem !default;
$sbx-padding-default-md-value          : 1.3em !default;

$sbx-padding-default-y-value           : 1rem;
$sbx-padding-default-x-value           : 1rem;
$sbx-padding-default-sm-y-value        : $sbx-padding-default-sm-value;
$sbx-padding-default-sm-x-value        : $sbx-padding-default-sm-value;
$sbx-padding-default-md-y-value        : $sbx-padding-default-md-value;
$sbx-padding-default-md-x-value        : $sbx-padding-default-md-value;
$sbx-padding-default-lg-y-value        : 1rem;
$sbx-padding-default-lg-x-value        : 1rem;
$sbx-padding-default-xl-y-value        : 1rem;
$sbx-padding-default-xl-x-value        : 1rem;
$sbx-padding-default-xxl-y-value       : 1rem;
$sbx-padding-default-xxl-x-value       : 1rem;


$sbx-padding-default-button-value      : .6rem;
$sbx-padding-input-y-sm-value          : 0.3rem;
$sbx-padding-input-x-sm-value          : 0.6rem;
$sbx-padding-input-y-md-value          : 0.5rem;
$sbx-padding-input-x-md-value          : 0.9rem;


/************ Width screen ***********/
$sbx-width-screen-xl                   : 75rem !default;
$sbx-width-screen-lg                   : 56.25rem !default;
$sbx-width-screen-md                   : 48rem !default;
$sbx-width-screen-sm                   : 36rem !default;