

.navbar {
  border-bottom: 0.02rem solid #000;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;

  .brand {
    font-size: 1.5rem;

    span {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .menulist {
    display: flex;
    list-style: none;

    li {
      margin-inline: 0;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: flex;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-inline: 2rem;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      .active {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
